dialog {
  border: none;
  text-align: center;
  padding: 2rem;
  border-radius: 6px;
  max-width: 90vw;
}

dialog::backdrop {
  background: rgba(2, 2, 2, .5);
}

dialog+.backdrop {
  background: rgba(2, 2, 2, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn {
  margin: 5px 5px;
}
